<launch>
  <group ns="multi">
    <node name="front" pkg="cv_camera" type="cv_camera_node" respawn="true" respawn_delay="10">
      <param name="device_path" value="/dev/video001"/>
      <param name="image_width" value="640" />
      <param name="image_height" value="480" />
      <param name="camera_frame_id" value="cam_front" />
      <param name="framerate" value="20" />
      <param name="time_delay" value="50" />
      <param name="camera_info_url" value="file://$(find usb_cam)/launch/front.yaml"/>
    </node>
    <node name="back" pkg="cv_camera" type="cv_camera_node" respawn="true" respawn_delay="10">
      <param name="device_path" value="/dev/video011"/>
      <param name="image_width" value="640" />
      <param name="image_height" value="480" />
      <param name="camera_frame_id" value="cam_back" />
      <param name="framerate" value="20" />
      <param name="time_delay" value="50" />
      <param name="camera_info_url" value="file://$(find usb_cam)/launch/back.yaml"/>
    </node>
  </group>
</launch>
